.wrap{
    width: 100%;
    height: 100%;
    .box{
        max-width: 90%;
        margin: 0 auto;
        .resultCount{
            display: none;
        }
        .categories{
            display: flex;
            margin-top: 15px;
            flex-wrap: wrap;
        }
    }
}

@media screen and (min-width: 960px){
    .wrap{
        width: 100%;
        height: 127px;
        .box{
            min-width: 560px;
            max-width: 90%;
            height: 100%;
            margin: 24px auto;
            .resultCount{
                display: block;
                font-size: 24px;
                font-weight: 530;
                .searchCount{
                    display: inline;
                    font-weight: 600;
                    color: #7828B4;
                }
            }
            .categories{
                display: flex;
                margin-top: 10px;
            }
    
            .data{
                position: relative;
                width: 100%;
            }
    
            .Page{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .scrollTop{
                display: flex;
                justify-content: flex-end;
                position: relative;
                label{
                  display: flex;
                  margin-bottom: 8px;
                  input{
                      display: none;
                  }
                  .checkbox{
                      display: block;
                      width: 50px;
                      height: 50px;
                      border-radius: 100%;
                      position: relative;
                      cursor: pointer;
                      margin-right: 8px;
                      background-color:#9013FE ;
                  }
                  .checkbox::before{
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: 13px;
                    width: 16px;
                    height: 16px;
                    border: solid #fff;
                    border-width: 0 10px 10px 0;
                    transform: rotate(-135deg);
                }
            
                }
              }
        }
    }
}
