.enter {
  opacity: 0.1;
}

.enterActive {
  opacity: 1;
  transition: all .6s ease-in;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0.1;
  transition: all .0s ease-in;
}

a{
  text-decoration: none;
}

